:root {
	--color1: #1677BD;
	--color2: #0D579B;
	--color3: white;
}

body {
	background-color: var(--color1);
	font-family: Verdana, sans-serif;
	margin: 0;
}

header {
	display: flex;
	align-content: center; /*horisontal*/
	align-items: center; /*vertical*/
	justify-content: space-between;
	background-color: var(--color3);
	padding: 5px 10px 5px 25px;
}

.homelink {
	background-image: url("https://findicons.com/files/icons/2796/metro_uinvert_dock/256/sticky_notes.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
}

#search {
	display: inline-flex;
	height: 30px;
	margin: 5px;
}

#search > input[type=search] {
	width: 420px;
	border: 1px solid lightgrey;
	border-radius: 0;
}
#search > input[type=search]:hover {
	border-color: grey;
}

#search > input[type=submit] {
	width: 105px;
	border-radius: 0 5px 5px 0;
}

button, input[type=submit] {
	background-color: var(--color2);
	border: 3px solid var(--color2);
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

button.accountLink {
	border: none;
	background: none;
	padding: 0;
}
.accountLink > img {
	width: 32px;
}

main {
	background-color: var(--color3);
	margin: auto;
	width: 55%;
}

.postList {
	margin: auto;
	padding: 55px 0 15px 0;
	width: 75%;
}

.postList > article {
	border-radius: 5px;
	box-shadow: 0 0 15px 4px lightgrey;
	margin-bottom: 15px;
}

.postList p, .postHeader, .postFooter {
	margin: 0;
	padding: 10px;
}

.postHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postHeader span {
	color: #878787;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	align-self: baseline;
}

.postHeader ~ div:not(.postFooter) {
	font-size: 18px;
}
.postHeader + div img {
	width: 100%;
}
.likeBtn {
	background-image: url("https://www.iconsdb.com/icons/preview/white/thumbs-up-xxl.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;

	border-radius: 3px;
	margin: 5px;
	width: 45px;
	height: 30px;
}


.welcome{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login {
	background-color: var(--color3);
	margin: auto;
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.login > a:first-child {
	align-self: flex-start;
	width: 128px;
	height: 128px;
    background-size: 128px;
    margin-left: 20px;
}

#loginform {
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    width: 50%;
    margin: auto;
}

#loginform > input {
	margin: auto;
}

input[name=loginsubmit] {
	cursor: pointer;
	width: 70px;
	height: 35px;
}

#loginform > input[type=email], #loginform > input[type=password] {
	width: 250px;
	border: 1px solid lightgrey;
	border-radius: 0;
	padding: 12px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

#loginform > input[type=email]:hover, #loginform > input[type=password]:hover {
   	border-color: grey;
}
